<!DOCTYPE HTML>
<html manifest="">

<head th:insert="~{head}"></head>

<body class="skin-black layout-top-nav sidebar-collapse" style="height: auto; min-height: 100%;">

	<div class="wrapper" style="height: auto; min-height: 100%;">

		<header class="main-header" th:insert="~{navbar}"></header>

		<aside class="main-sidebar" th:insert="~{sidebar}"></aside>

		<div class="content-wrapper" style="position: relative; min-height: 600px;">

			<section class="content-header">
				<h1>
					Dashboard | <small>Home</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				</ol>
			</section>

			<section class="content container-fluid">
				<div class="row">

					<div class="col-md-12">
						<div class="box box-default">
							<div class="box-header with-border">
								<i class="fa fa-bullhorn"></i>

								<h3 class="box-title">Still in progress...</h3>
							</div>
							<div class="box-body">
								<div class="callout callout-success">
									<h4>Maybe some metrics and dashboards.</h4>
									<p>I still haven't thought much about what I should put here. Until then, please use
										the side menu.</p>
								</div>
							</div>
						</div>
					</div>

					
					<div class="col-md-12">
						<div class="box box-default">
							<div style="height:450px" class="box-body">
								Blah
							</div>
						</div>
					</div>					
					
					
				</div>
			</section>
		</div>

		<aside class="control-sidebar control-sidebar-light" th:insert="~{controlsidebar}"></aside>
		<div class="control-sidebar-bg"></div>


		<!-- Main Footer -->

		<footer class="main-footer" style="height: 44px; padding: 0px 10px 0px 10px; background-color: #222d32;">

			<table id="tableFooter" style="width: 100%; cursor: pointer">
				<tr>
					<td>by Carlos Magno Abreu</td>

					<td style="width: 40px">Foo</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
				<tr>
					<td>magno.mabreu@gmail.com</td>
					<td style="width: 40px">Bar</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
			</table>
		</footer>


	</div>


	<!-- jQuery 3 -->
	<script src="/adminlte/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script	src="/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/adminlte/dist/js/adminlte.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script src="/cytoscape/cytoscape.min.js"></script>
	<script src="/common/websocket/sockjs.min.js"></script>
	<script src="/common/websocket/stomp.min.js"></script>

	<script src="/common/script.js"></script>

</body>

</html>