
<!-- Header Navbar -->
<nav class="navbar navbar-static-top" role="navigation"
	style="background-color: #222d32; color: white;">

	<a href="#" class="sidebar-toggle" data-toggle="push-menu"
		style="color: white" role="button"></a>

	<div class="container-fluid">

		<div class="navbar-header">
			<img id="logoMd2" src="/common/img/default-logo.jpg"
				style="height: 40px; float: left; margin-top: 5px; margin-left: 10px; margin-right: 10px;">
		</div>

		<!-- Navbar Right Menu -->
		<div class="navbar-custom-menu">
		</div>


	</div>
</nav>