<!DOCTYPE HTML>
<html manifest="">

<head th:insert="~{head}">
</head>

<body class="skin-black layout-top-nav sidebar-collapse"
	style="height: auto; min-height: 100%;">

	<div class="wrapper" style="height: auto; min-height: 100%;">

        <div class="modal modal-danger fade" id="modal-danger">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Register this new Agent?</h4>
              </div>
              <div class="modal-body">
                <p>Make sure you have already checked the IP address and port where the agent is (or will be) running.</p>
                <p>Are you sure?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
                <button id="btnRegisterAgent" data-dismiss="modal" type="button" class="btn btn-outline">Register</button>
              </div>
            </div>
          </div>
        </div>

		
		<div class="modal modal-danger fade" id="delete-agent">
		  <div class="modal-dialog">
		    <div class="modal-content">
		      <div class="modal-header">
		        <h4 class="modal-title">Delete Agent</h4>
		      </div>
		      <div class="modal-body">
				<span id="agentUuid" style="display:none"></span>
		        <p>Are you sure?</p>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Cancel</button>
		        <button id="btnDeleteAgent" data-dismiss="modal" type="button" class="btn btn-outline">Delete</button>
		      </div>
		    </div>
		  </div>
		</div>		
		
		
		<header class="main-header" th:insert="~{navbar}" ></header>
		<aside class="main-sidebar" th:insert="~{sidebar}"></aside>

		<div class="content-wrapper" style="position: relative; min-height: 600px;">

			<section class="content-header">
				<h1>
					Manage Remote Agents | <small>Agents under your will.</small>
				</h1>
				<ol class="breadcrumb">
					<li><a href="/"><i class="fa fa-dashboard"></i> Home</a></li>
				</ol>
			</section>

			<section class="content container-fluid">
				<div class="row">
					<section class="col-lg-3">

						<div class="box box-primary">
							<div class="box-header ui-sortable-handle">
								<i class="fa fa-user"></i>

								<h3 class="box-title">Register Agent</h3>
								<!-- tools box -->
								<div class="pull-right box-tools">&nbsp;</div>
								<!-- /. tools -->
							</div>
							<div class="box-body">
								<form action="#" method="post">
									<div class="form-group">
										<input type="text" class="form-control" id="agIpAddress"
											placeholder="IP Address Ex: 192.168.0.205">
									</div>
									<div class="form-group">
										<input type="text" class="form-control" id="agPort"
											placeholder="Port Ex: 36780">
									</div>

								</form>
							</div>
							<div class="box-footer clearfix">
								<button type="button" class="pull-right btn btn-default" data-toggle="modal" data-target="#modal-danger" >
									Register
								</button>
							</div>
						</div>

					</section>
					<section class="col-lg-9">


						<div class="box box-primary">
							<div class="box-header ui-sortable-handle">
								<i class="fa fa-sitemap"></i>
								<h3 class="box-title">Remote Agents</h3>
								<div class="pull-right box-tools">
									<i class="fa fa-refresh fa-spin"></i>
								</div>								
							</div>
							<div class="box-body">
								<ul class="mailbox-attachments clearfix"  id="agentContainer">
								</ul>								
							</div>
							<div class="box-footer clearfix">
								Looking for known Agents...
							</div>
						</div>

					</section>


				</div>
			</section>
		</div>

		<aside class="control-sidebar control-sidebar-light"
			th:insert="~{controlsidebar}"></aside>
		<div class="control-sidebar-bg"></div>


		<!-- Main Footer -->

		<footer class="main-footer"
			style="height: 44px; padding: 0px 10px 0px 10px; background-color: #222d32;">

			<table id="tableFooter" style="width: 100%; cursor: pointer">
				<tr>
					<td>by Carlos Magno Abreu</td>

					<td style="width: 40px">Foo</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
				<tr>
					<td>magno.mabreu@gmail.com</td>
					<td style="width: 40px">Bar</td>
					<td style="width: 70px"></td>
					<td style="width: 70px"></td>
				</tr>
			</table>
		</footer>


	</div>

	<!-- jQuery 3 -->
	<script src="/adminlte/bower_components/jquery/dist/jquery.min.js"></script>
	<!-- Bootstrap 3.3.7 -->
	<script	src="/adminlte/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<!-- AdminLTE App -->
	<script src="/adminlte/dist/js/adminlte.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
	
	<script src="/common/websocket/sockjs.min.js"></script>
	<script src="/common/websocket/stomp.min.js"></script>
	<script src="/common/components/common.js"></script>
	<script src="/common/remote.js"></script>

</body>

</html>

